<div class="row">
    <div class="col">
        <button asp-action="Create" type="submit" class="btn btn-primary form-control">Creaar</button>
    &nbsp;
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control">Volver a lista</a>
    </div>

</div>