<footer class="border-7">
    <div  >
        <section>
            <div class="row offset-2 ">



                <div class="row col-12">

                    <div class="col">
                        <a class="text-center text-white btn-outline-primary" href="https://web.facebook.com/">
                            <i class="fab fa-facebook-square"> Facebook</i>
                        </a>
                    </div>

                    <div class="col">
                        <a class="text-center text-white btn-outline-primary " target="_blank" href="#" size="5x">
                            <i class="fab fa-instagram"> Instagram </i>

                        </a>
                    </div>
                    <div class="col">
                        <a class="text-center text-white btn-outline-primary">
                            <i class="fab fa-twitter"> Twiter</i>
                        </a>
                    </div>

                    <div class="col">
                        <a class="text-center text-white btn-outline-primary" href="https://github.com/Guitarra2428">
                            <i class="fab fa-github"> Github</i> 
                        </a>
                    </div>


                    <div class="col">
                        <a class="text-center text-white btn-outline-primary" href="https://www.linkedin.com/in/luis-alberto-mesili-400523193">
                            <i class="fab fa-linkedin "> Linkedin</i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</footer>
