
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista De Mensajes</h1>


<div class="container">

    <table class="table table-bordered" id="tblEmail">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Mensaje</th>
                <th>Gmail</th>
                <th>Options</th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts{


    <script src="~/js/Email.js"></script>
}



